h1 {color:maroon}

#second {color:blueviolet}

#nav {color:lightpink}

h3 {color:blueviolet}

img {
    display: block;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    display: block;
}