h1 {color:maroon}

#second {color:blueviolet}

#nav {color:lightpink}

h3 {color:blueviolet}

img {
    display: block;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    display: block;
}

#map {
    height: 400px;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}